.img1{
    width: 5%;
}
.btn1{
    border:  none;
    border: 1px solid rgba(128, 128, 128, 0.434);
    text-align: center;
    float: right;
    background: none;
   border-radius: 5px;   
  height: 40px; 
}
.btn2{
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.431);
    border-radius: 5px;
    background-color: white;
}
.h1{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
   margin-top: 250px;
   margin-left: 500px;
}